__pycache__/
*.py[cod]
*$py.class
*.egg-info/
dist/
build/
.eggs/
*.egg
.venv/
venv/
env/
.env
*.so
*.dylib
*.dll
.pytest_cache/
.ruff_cache/
*.spec
AssetBundles/
Output/
settings.json
*_pb2.py
*_pb2.pyi
